body{
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
canvas{
    background-color: black;
    border: 3px solid rgb(0, 0, 0);
}
